
Scripts/Source/User/WorkshopFramework/MainQuest.psc.bak
Scripts/Source/User/WorkshopFramework/Weapons/SettlementLayout.bak
Scripts/Source/User/WorkshopFramework/HUDFrameworkManager.psc.bak
Scripts/Source/User/WorkshopFramework/WorkshopFunctions.psc.bak
Scripts/Source/User/WorkshopFramework/ObjectRefs/DisplayRack.psc.bak
